<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.active{
				color: red;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<ul>
				<!-- <li v-for="变量 in movies"></li> -->
				<!-- <li v-for="item in movies" :class="{active:isActive}">{{item}}</li> -->
				<li v-for="(item,index) in movies" :class="{active:currentIndex==index}" v-on:click="dk(index)" >{{index}}-{{item}}</li>
			</ul>
		</div>
		<script type="text/javascript">
			var app=new Vue({
				el:'#app',
				data:{
					movies:['海王','海尔','火影','巨人'],
					isActive:false,
					currentIndex:0,
				},
				methods:{
					dk:function(index){
						this.currentIndex=index;
					}
				}
			})
		</script>
	</body>
</html>
